Source: berlin
Section: misc
Priority: optional
Maintainer: The Berlin Consortium <design@berlin-consortium.org>
Standards-Version: 2.5.0

Package: berlin
Architecture: i386
Depends: ${shlibs:Depends}
Description: The Berlin Windowing System
 Berlin is a developmental project to bring a new GUI to the world.

Package: berlin-doc
Section: docs
Architecture: all
Description: The Berlin Windowing System Documentation
 Documentation on Berlin.

Package: berlin-dev
Section: misc
Suggests: omniorb
Architecture: i386
Description: The Berlin Windowing System Developmental Files
 Headers, IDL source, and other files needed for development.
