#!/usr/bin/make -f

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=3

CFLAGS = -O2
CXXFLAGS = -O2
ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
CFLAGS += -g
CXXFLAGS += -g
endif
export CFLAGS CXXFLAGS

configure: configure-stamp
configure-stamp:
	dh_testdir
	-mkdir build
	( \
		cd build ; \
		../configure \
			--prefix=/usr \
			--disable-py-clients \
			--disable-docs \
	)

	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	( cd build ; $(MAKE) )

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf build
	dh_clean

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	install -m755 $(CURDIR)/debian/Berlin \
		$(CURDIR)/debian/berlin-server/usr/bin/
	install -m755 $(CURDIR)/build/bin/devices $(CURDIR)/build/bin/kits \
		$(CURDIR)/build/bin/server \
		$(CURDIR)/debian/berlin-server/usr/lib/Berlin/bin/
	install -m644 $(CURDIR)/debian/berlinrc \
		$(CURDIR)/debian/berlin-server/usr/lib/Berlin/etc/
	install -m644 $(CURDIR)/etc/glyph.dat $(CURDIR)/etc/pinyin.db \
		$(CURDIR)/debian/berlin-server/usr/lib/Berlin/etc/
	install -m644 $(CURDIR)/etc/PNG/*.png \
		$(CURDIR)/debian/berlin-server/usr/lib/Berlin/etc/PNG/
	ln -s ../../../X11R6/lib/X11/fonts/Type1/c0648bt_.pfb \
		$(CURDIR)/debian/berlin-server/usr/lib/Berlin/fonts/
	install -m644 $(CURDIR)/debian/Berlin.1 \
		$(CURDIR)/debian/berlin-server/usr/share/man/man1/

	install -m755 $(CURDIR)/debian/Berlin-demo \
		$(CURDIR)/debian/berlin-demos-c++/usr/bin/
	install -m755 $(CURDIR)/build/bin/demo $(CURDIR)/build/bin/canvas \
		$(CURDIR)/build/bin/ggiwrapper $(CURDIR)/build/bin/pinyin_demo \
		$(CURDIR)/debian/berlin-demos-c++/usr/lib/Berlin/bin/
	install -m644 $(CURDIR)/debian/Berlin-demo.1 \
		$(CURDIR)/debian/berlin-demos-c++/usr/share/man/man1/

	install -m644 $(CURDIR)/build/lib/libBabylon.so \
		$(CURDIR)/debian/libbabylon/usr/lib/
	install -m644 $(CURDIR)/build/modules/Babylon/* \
		$(CURDIR)/debian/libbabylon/usr/lib/Berlin/modules/Babylon/
	install -m644 $(CURDIR)/build/lib/libBerlin.so \
		$(CURDIR)/debian/libberlin/usr/lib/
	install -m644 $(CURDIR)/build/lib/libPrague.so \
		$(CURDIR)/debian/libprague/usr/lib/
	install -m644 $(CURDIR)/build/lib/libWarsaw.so \
		$(CURDIR)/debian/libwarsaw/usr/lib/

	install -m644 $(CURDIR)/build/modules/libCommand.so \
		$(CURDIR)/debian/berlin-server/usr/lib/Berlin/modules/
	install -m644 $(CURDIR)/build/modules/libDesktop.so \
		$(CURDIR)/debian/berlin-server/usr/lib/Berlin/modules/
	install -m644 $(CURDIR)/build/modules/libArtDrawing.so \
		$(CURDIR)/debian/berlin-kit-drawing-libart/usr/lib/Berlin/modules/
	install -m644 $(CURDIR)/build/modules/libPSDrawing.so \
		$(CURDIR)/debian/berlin-kit-drawing-postscript/usr/lib/Berlin/modules/
	install -m644 $(CURDIR)/build/modules/libFigure.so \
		$(CURDIR)/debian/berlin-server/usr/lib/Berlin/modules/
	install -m644 $(CURDIR)/build/modules/libGGI.so \
		$(CURDIR)/debian/berlin-kit-ggi/usr/lib/Berlin/modules/
	install -m644 $(CURDIR)/build/modules/libGadget.so \
		$(CURDIR)/debian/berlin-kit-gadget/usr/lib/Berlin/modules/
	install -m644 $(CURDIR)/build/modules/libImage.so \
		$(CURDIR)/debian/berlin-kit-image/usr/lib/Berlin/modules/
	install -m644 $(CURDIR)/build/modules/libLayout.so \
		$(CURDIR)/debian/berlin-server/usr/lib/Berlin/modules/
	install -m644 $(CURDIR)/build/modules/libPrimitive.so \
		$(CURDIR)/debian/berlin-kit-primitive/usr/lib/Berlin/modules/
	install -m644 $(CURDIR)/build/modules/libText.so \
		$(CURDIR)/debian/berlin-server/usr/lib/Berlin/modules/
	install -m644 $(CURDIR)/build/modules/libTool.so \
		$(CURDIR)/debian/berlin-server/usr/lib/Berlin/modules/
	install -m644 $(CURDIR)/build/modules/libUnidraw.so \
		$(CURDIR)/debian/berlin-kit-unidraw/usr/lib/Berlin/modules/
	install -m644 $(CURDIR)/build/modules/libMotif.so \
		$(CURDIR)/debian/berlin-kit-widget-motif/usr/lib/Berlin/modules/

	install -m755 $(CURDIR)/build/bin/Babylon-config \
		$(CURDIR)/debian/libbabylon-dev/usr/bin/
	install -m644 $(CURDIR)/debian/Babylon-config.1 \
		$(CURDIR)/debian/libbabylon-dev/usr/share/man/man1/
	install -m644 $(CURDIR)/include/Babylon/*.hh \
		$(CURDIR)/debian/libbabylon-dev/usr/include/Babylon/

	install -m755 $(CURDIR)/build/bin/Berlin-config \
		$(CURDIR)/debian/libberlin-dev/usr/bin/
	install -m644 $(CURDIR)/debian/Berlin-config.1 \
		$(CURDIR)/debian/libberlin-dev/usr/share/man/man1/
	install -m644 $(CURDIR)/include/Berlin/*.hh \
		$(CURDIR)/debian/libberlin-dev/usr/include/Berlin/

	install -m755 $(CURDIR)/build/bin/Prague-config \
		$(CURDIR)/debian/libprague-dev/usr/bin/
	install -m644 $(CURDIR)/debian/Prague-config.1 \
		$(CURDIR)/debian/libprague-dev/usr/share/man/man1/
	install -m644 $(CURDIR)/include/Prague/Filter/*.hh \
		$(CURDIR)/debian/libprague-dev/usr/include/Prague/Filter/
	install -m644 $(CURDIR)/include/Prague/IPC/*.hh \
		$(CURDIR)/debian/libprague-dev/usr/include/Prague/IPC/
	install -m644 $(CURDIR)/include/Prague/Network/*.hh \
		$(CURDIR)/debian/libprague-dev/usr/include/Prague/Network/
	install -m644 $(CURDIR)/include/Prague/SAX/*.hh \
		$(CURDIR)/debian/libprague-dev/usr/include/Prague/SAX/
	install -m644 $(CURDIR)/include/Prague/Sys/*.hh \
		$(CURDIR)/debian/libprague-dev/usr/include/Prague/Sys/

	install -m755 $(CURDIR)/build/bin/Warsaw-config \
		$(CURDIR)/debian/libwarsaw-dev/usr/bin/
	install -m644 $(CURDIR)/debian/Warsaw-config.1 \
		$(CURDIR)/debian/libwarsaw-dev/usr/share/man/man1/
	install -m644 $(CURDIR)/include/Warsaw/*.hh \
		$(CURDIR)/debian/libwarsaw-dev/usr/include/Warsaw/

	install -m644 $(CURDIR)/idl/Warsaw/*.idl \
		$(CURDIR)/debian/warsaw-idl/usr/share/idl/Warsaw/

# Build architecture-independent files here.
# Pass -i to all debhelper commands in this target to reduce clutter.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
#	dh_installdebconf -i
	dh_installdocs -i
#	dh_installexamples -i
#	dh_installmenu -i
#	dh_installlogrotate -i
#	dh_installemacsen -i
#	dh_installpam -i
#	dh_installmime -i
#	dh_installinit -i
#	dh_installcron -i
#	dh_installman -i
#	dh_installinfo -i
#	dh_undocumented -i
	dh_installchangelogs  -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
#	dh_perl -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
#	dh_installdebconf -a
	dh_installdocs -a
#	dh_installexamples -a
#	dh_installmenu -a
#	dh_installlogrotate -a
#	dh_installemacsen -a
#	dh_installpam -a
#	dh_installmime -a
#	dh_installinit -a
#	dh_installcron -a
#	dh_installman -a
#	dh_installinfo -a
#	dh_undocumented -a
	dh_installchangelogs  -a
	dh_strip -a
	dh_link -a
	dh_compress -a
	dh_fixperms -a
#	dh_makeshlibs -a
	dh_installdeb -a
#	dh_perl -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
